html,
body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.sac-nav {
  background-color: black;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.sac-header-logo-img {
  width: 60px;
}

.sac-nav .navbar-toggler {
  padding: 5px;
}

.sac-nav .nav-item {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  text-decoration: none;
}

.sac-nav .nav-item:hover,
.sac-nav .nav-item:focus {
  color: white;
  border-bottom-color: white;
}

.sac-nav .active {
  color: orangered;
  border-bottom-color: orangered;
}
.custom-container {
  max-width: 2000px;
}

.sac-news-section {
  padding-top: 100px;
}

.divider-line {
  margin-bottom: 5px;
  height: 4px;
  background-color: orangered;
}

.news-heading {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.news-date {
  font-size: 15px;
  color: white;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 10px;
}


@media (min-width: 768.1px) {
  .sac-nav {
    background-color: black;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  }


  .sac-header-logo-img {
    width: 60px;
  }

  .sac-nav .nav-item {
    margin-left: 10px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
    background-color: transparent;
    border-bottom: .25rem solid transparent;
    text-decoration: none;
  }

  .sac-nav .nav-item:hover,
  .sac-nav .nav-item:focus {
    color: white;
    border-bottom-color: white;
  }

  .sac-nav .active {
    color: orangered;
    border-bottom-color: orangered;
  }

  .sac-news-section {
    padding-top: 100px;
  }

  .divider-line {
    margin-bottom: 5px;
    height: 4px;
    background-color: orangered;
  }

  .news-heading {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
}

.card-columns {
  /* Prevent vertical gaps */
  line-height: 0;
  -webkit-column-count: 2;
  -webkit-column-gap:   15px;
  -moz-column-count:    2;
  -moz-column-gap:      15px;
  column-count:         2;
  column-gap:           15px;
}

.card-columns img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}


@media (min-width: 1024px) {
  .sac-nav {
    background-color: black;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  }


  .sac-header-logo-img {
    width: 60px;
  }

  .sac-nav .nav-item {
    margin-left: 10px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
    background-color: transparent;
    border-bottom: .25rem solid transparent;
    text-decoration: none;
  }

  .sac-nav .nav-item:hover,
  .sac-nav .nav-item:focus {
    color: white;
    border-bottom-color: white;
  }

  .sac-nav .active {
    color: orangered;
    border-bottom-color: orangered;
  }

  .sac-news-section {
    padding-top: 100px;
  }

  .divider-line {
    margin-bottom: 5px;
    height: 4px;
    background-color: orangered;
  }

  .news-heading {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  .card-columns {
    /* Prevent vertical gaps */
    line-height: 0;
    -webkit-column-count: 3;
    -webkit-column-gap:   15px;
    -moz-column-count:    3;
    -moz-column-gap:      15px;
    column-count:         3;
    column-gap:           15px;
  }
  
  .card-columns img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
  }
  
}

@media (min-width: 1440.1px) {
  .sac-nav {
    background-color: black;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  }

  .sac-header-logo-img {
    width: 80px;
  }

  .sac-nav .nav-item {
    margin-left: 10px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
    background-color: transparent;
    border-bottom: .25rem solid transparent;
    text-decoration: none;
  }

  .sac-nav .nav-item:hover,
  .sac-nav .nav-item:focus {
    color: white;
    border-bottom-color: white;
  }

  .sac-nav .active {
    color: orangered;
    border-bottom-color: orangered;
  }

  .sac-news-section {
    padding-top: 120px;
  }

  .divider-line {
    margin-bottom: 5px;
    height: 4px;
    background-color: orangered;
  }

  .news-heading {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  .card-columns {
    /* Prevent vertical gaps */
    line-height: 0;
    -webkit-column-count: 4;
    -webkit-column-gap:   15px;
    -moz-column-count:    4;
    -moz-column-gap:      15px;
    column-count:         4;
    column-gap:           15px;
  }
  
  .card-columns img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
  }
  
}